@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3 class="text-center">Co-Operations</h3>
<br />
<p class="text-center">Co-Operations is designed to make calculating Commissions painless by handling all of the calculations automatically.</p>
<br />
<ul>
    <li>To begin setup navigate to the locations tab and add your first location. Your Location holds all of your commission percentages.</li>

    <li>Next add products. Co-Operations automatically generates SKUs for each product based on its name. It also stores the user who created it and will add commissions for them with each transaction.</li>

    <li>Once you have locations and products setup you are free to add transactions. The transaction will pull price and maker from the product SKU and the commission percentages from the location</li>

    <li>After transactions have been added you can view your commissions in your profile, where you can also notate any collections you have made.</li>

    <li>Your profile will automatically update as more products and transactions are added.</li>
</ul>